{% extends "base.html" %} {% block body %}

<div
  id="container"
  class="h-full w-full justify-center items-center flex flex-col gap-6 max-w-md"
>
  <div id="poll_title" class="text-2xl font-semibold text-center">
    Which programming language do you prefer?
  </div>
  <div
    id="voting_form_container"
    class="border-solid border-[1px] w-full max-w-md border-[rgb(213,204,215)] rounded-lg p-6 pt-10"
  >
    <div class="flex gap-6 flex-col" id="voting_form">
      <div
        class="flex gap-5 flex-col text-center"
        id="voting_form_inputs_div"
      ></div>

      <button
        class="bg-magenta text-white rounded-lg py-2 px-4 h-10 text-sm cursor-pointer font-medium transition duration-150ms capitalize flex items-center justify-center gap-2 hover:bg-whiter-magenta"
        id="voting_btn"
        data-checked="unchecked"
      >
        Vote
      </button>
    </div>
  </div>
  <div
    class="flex items-center gap-2 bg-weird-white border-solid border-[1px] border-[rgb(213,204,215)] max-w-89 w-full p-4 rounded-[8px] right-8 ease-in-out translate-y-full duration-500 transiton-transform absolute bottom-0"
    id="the-message-div"
  >
    <svg
      class="hidden"
      id="error-svg"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
      fill="currentColor"
      height="20"
      width="20"
    >
      <path
        fill-rule="evenodd"
        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
        clip-rule="evenodd"
      ></path>
    </svg>
    <svg
      id="success-svg"
      class="hidden"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
      fill="currentColor"
      height="20"
      width="20"
    >
      <path
        fill-rule="evenodd"
        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
        clip-rule="evenodd"
      ></path>
    </svg>
    <p id="the-message-p" class="text-[13px]">Please enter a poll title</p>
  </div>
</div>
<script>
  window.UNIQUE_ID = "{{ unique_id }}";
</script>
{% endblock %}
